{{#each blogs}}
<div class="post status-publish format-standard" id="post-{{_id}}">
	<h2 class="entry-title"><a rel="bookmark" href="{{separation_path}}">{{title}}</a></h2>
	<div class="entry-meta">
		<span class="meta-prep meta-prep-author">Posted on</span> <a rel="bookmark" title="7:19 pm" href="{{separation_path}}"><span class="entry-date">{{display_date__formatted}}</span></a>
	</div>
<!--	<div class="entry-utility">
		<span class="cat-links">
			<span class="entry-utility-prep entry-utility-prep-cat-links">Posted in</span> <a rel="category tag" title="View all posts in General" href="http://2010dev.wordpress.com/category/general/">General</a>
		</span>
		<span class="meta-sep">|</span>
		<span class="tag-links">
			<span class="entry-utility-prep entry-utility-prep-tag-links">Tagged</span> <a rel="tag" href="http://2010dev.wordpress.com/tag/art/">art</a>, <a rel="tag" href="http://2010dev.wordpress.com/tag/example/">example</a>, <a rel="tag" href="http://2010dev.wordpress.com/tag/kanagawa/">kanagawa</a>, <a rel="tag" href="http://2010dev.wordpress.com/tag/public-domain/">public domain</a>, <a rel="tag" href="http://2010dev.wordpress.com/tag/wikipedia/">wikipedia</a>
		</span>
		<span class="meta-sep">|</span>
			<span class="comments-link"><a title="Comment on The Great Wave off&nbsp;Kanagawa" href="http://2010dev.wordpress.com/2010/05/01/the-great-wave-off-kanagawa/#comments">2 Comments</a>
		</span>
	</div> -->
</div>
{{/each}}