{{#each blogs}}
<div class="post status-publish format-standard" id="post-{{_id}}">
	<h2 class="entry-title"><a rel="bookmark" href="{{separation_path}}">{{title}}</a></h2>
	<div class="entry-meta">
		<span class="meta-prep meta-prep-author">Posted on</span> <a rel="bookmark" title="7:19 pm" href="{{separation_path}}"><span class="entry-date">{{display_date__MdY}}</span></a>
	</div>
</div>
{{/each}}